body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 12px;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 12px;
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 12px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #0000cd;
}

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("../img/intro-bg.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 45px;
}

.masthead .intro-body .intro-text {
  font-size: 15px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 75px;
  }
  .masthead .intro-body .intro-text {
    font-size: 25px;
  }
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

#about .section-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #87ceeb solid;
}

#experience .section-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #87ceeb solid;
}

#experience img {
  margin-top: -60px;
}

#experience h5 {
  color: #ff4500;
  margin-bottom: 16px;
}

#experience p {
  font-size: 14px;
  color: #0000cd;
}

#experience .fa {
  margin-right: 10px;
  font-size: 14px;
}

#experience .card {
  height: 320px;
}

#experience .card:hover {
  background: #e0ffff;
}

#experience .btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

#skills .section-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #87ceeb solid;
}

#skills .table th {
  border-top: none;
}

#skills .table ul {
  padding-left: 16px;
}

#skills .table li {
  font-size: 16px;
}

#education .section-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #87ceeb solid;
}

#education img {
  margin-top: -60px;
}

#education h3 {
  color: #ff4500;
  margin-bottom: 18px;
}

#education p {
  font-size: 14px;
  color: #0000cd;
}

#education .fa {
  margin-right: 10px;
  font-size: 14px;
}

#education .card:hover {
  background: #e0ffff;
}

#download .section-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #87ceeb solid;
}

#download .fa {
  font-size: 50px;
  color: #000;
}

#download .fa:hover {
  color: #87ceeb;
}

footer p {
  font-size: 14px;
  margin: 0;
}

footer .fa {
  font-size: 20px;
  color: #000;
}

footer .fa:hover {
  color: #fff;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
